* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

#main-doc {
	position: relative;
	top: 28vh;
	width: 95%;
	/* max-width: 100%; */
	left: 10px;
	border-top: 3px solid black;
}

#main-doc p {
	line-height: 1.3;
}

.main-section {
	border-bottom: 1px dotted grey;
}
ol,
ul {
	line-height: 1.3;
}

li:not(:first-of-type) {
	margin-top: 0.7em;
}

ul ul li {
	margin-top: 0.5rem;
}

code {
	background-color: #dde9f6;
	display: block;
	line-height: 1.5;
	padding: 8px;
	font-size: 1.1em;
}

.inline-code {
	background-color: #dde9f6;
	font-family: monospace;
	font-size: 1.05em;
	padding: 2px;
}
#navbar {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	/* border: 2px dotted red; */
	position: absolute;
	justify-content: flex-start;
	width: 100%;
	height: 25vh;
	/* margin-top: 5px; */
}

.nav-link {
	/*
	border-left: 1px dashed orange;
  border-right: 1px dashed orange;
  border-bottom: 1px dashed orange;
  */
	border-top: 2px solid grey;
	text-decoration: none;
	color: #0b57ad;
	cursor: pointer;
	width: 95%;
	padding: 8px 0 6px 0;
	text-align: center;
}

.nav-link:last-of-type {
	border-bottom: 2px solid grey;
}

nav header {
	text-align: center;
	font-size: 1rem;
	padding: 2px;
}

h1 {
	margin: 2px;
}
h2:first-of-type {
	margin-top: 30px;
}

/* tablets, laptops, desktops */
@media (min-width: 640px) {
	#navbar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		/*
		border-top: 1px dashed red;
    border-left: 1px dashed red;
    */
		border-right: 2.5px solid grey;
		position: fixed;
		left: 0;
		top: 0;
		width: 195px;
		max-width: 200px;
		/*min-width: 100px; */
		height: 100%;
	}

	nav header {
		/*border: 1.5px solid blue; */
		/* background-color: lightgreen; */
		text-align: center;
		font-size: 0.9rem;
		width: 100%;
		padding: 15px 0;
	}

	.nav-link {
		border-top: 2px solid grey;
		/*
    border-bottom: 1px dashed orange;
    border-left: none;
    border-right: 1px dashed orange;
    */
		margin: 0;
		padding: 15px;
		color: #0b57ad;
		text-decoration: none;
		text-align: left;
		cursor: pointer;
		width: 100%;
	}

	.nav-link:last-of-type {
		border-bottom: 2px solid grey;
	}

	#main-doc {
		position: relative;
		left: 210px;
		top: 20px;
		width: 70%;
		max-width: 800px;
		border: none;
	}

	h2 {
		margin-top: 10px;
	}
}
