* {
  box-sizing: border-box;
}

main {
  background-color: #e5f7fa;
}
#img-div {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

#img-caption {
  padding: 0 20px 10px 20px;
  width: 100%;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

#image {
  height: auto;
  width: 100%;
  max-width: 100%;
  padding: 20px 20px 10px 20px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  padding-top: 25px;
}

p {
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif
}

li::marker {
  content: "🐦‍⬛";
}

li {
  padding-left: 8px;
  padding-right: 15px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: blue;
}

a:visited {
  color: indigo;
}

a:hover {
  color: #a50ca5;
}

hr {
  border: 1.3px dotted grey;
}
footer {
  padding-bottom: 3px;
  font-size: 0.8rem;
}
